.header {
  position: absolute;
  max-width: 1920px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 16px;
}

.logo img {
  width: 70px;
}

.logo-name {
  display: none;
}

.bar {
  position: absolute;
  right: 0;
  top: 12px;
  padding: 16px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.nav {
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 70px;
}

.menu {
  background-color: #0095A5;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
}

.menu a {
  display: block;
  margin: 0;
  background-color: #FFF;
  border-bottom: 2px dotted #E9E9E9;
  color: #4D4D4D;
  padding: 2rem;
}

.menu a:hover {
  background-color: #E9E9E9;
}

.menu li:last-child a {
  border-bottom: 0;
}

/* FOOTER */
footer {
  font-size: 0.875rem;
  padding: 46px 16px;
  text-align: center;
  position: relative;
}

.footer-desc {
  max-width: 614px;
  font-size: 0.875rem;
  text-align: center;
  margin: 0 auto;
  color: #757575;
  margin-top: 20px;
  line-height: 1.25rem;
}

.footer-form {
  max-width: 520px;
  height: 52px;
  margin: 46px auto;
  position: relative;
}

.footer-form input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  padding-left: 1rem;
  border: 1px #AAA solid;
}

.footer-form button {
  width: 52px;
  height: 52px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #AAA;
  transition: background-color .2s ease;
  border: 0;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-form button:hover {
  background-color: #4D4D4D;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}

.social-links li {
  background-color: #AFAFAF;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 17px;
}

.social-links li:hover {
  background-color: #0095A5;
}

.social-links a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-top-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.go-top {
  width: 40px;
  height: 40px;
  background: #0095A5;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo img {
    width: 100px;
  }

  .bar {
    display: none;
  }

  .nav {
    display: block;
    position: initial;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-right: 16px;
    text-align: left;
    font-size: 1.2rem;
    padding: 0;
  }

  .menu a {
    margin: 0 20px;
    color: #FFF;
    background-color: transparent;
    border-bottom: 0;
    padding: 0;
  }

  .menu a:hover {
    text-shadow: 0 0 16px rgba(0,0,0,0.5);
    background-color: transparent;
  }

  footer {
    font-size: 1rem;
    padding: 90px 16px 40px;
  }

  .footer-form {
    height: 60px;
    margin: 50px auto;
  }

  .footer-form input {
    font-size: 1.25rem;
  }

  .footer-desc {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }

  .footer-form button {
    width: 60px;
    height: 60px;
  }

  .social-links {
    margin-bottom: 50px;
  }

  .footer-copyright {
    letter-spacing: 2px;
  }

  .go-top-box {
    margin-top: 0;
  }

  .go-top {
    position: absolute;
    bottom: 40px;
    right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .logo img {
    width: 154px;
  }

  .menu {
    font-size: 1.3125rem;
  }

  .menu a {
    margin: 0 44px;
  }
}